Information on data sets for rejections and office actions and the data sets themselves:

- [link to main page](https://bulkdata.uspto.gov/data/patent/office/actions/bigdata/2017/)

- [link to data dictionary](https://bulkdata.uspto.gov/data/patent/office/actions/bigdata/2017/USPTO%20Patent%20Prosecution%20Research%20Data_Unlocking%20Office%20Action%20Traits.pdf)

**The patent process** (see the data dictionary)

   In general, the patent examination process initiates when an applicant files for a patent with the USPTO. Upon receipt, the application goes through pre-examination review to ensure that the application is complete, all necessary forms are filed, and all relevant fees are paid. A complete application includes a written description of the invention (called a “specification”), at least one claim, and any necessary drawings. As part of this pre-examination review, the claims of the application are classified and forwarded to the relevant USPTO technology center for examination. Within the technology center, the application is assigned to a patent examiner in one of the group art units. 

   The examiner evaluates the claims in the application for compliance with applicable statutes and
regulations. She checks to make certain that the claims are directed to patent-eligible subject matter, that the written description is adequate to describe and enable the claimed invention, and that the claims clearly define the invention. She also conducts a prior art search to determine whether the claimed invention is novel and nonobvious. She looks for previous patent documents or non-patent literature to determine whether the invention is anticipated by a single reference, or rendered obvious either by a single reference or by a combination of references.10 Based on this examination, the examiner may either allow all claims or issue an Office action indicating a Non-Final Rejection that rejects or objects to one or more of the claims.

- A filing date is assigned when the application is complete. 

**Examiner Art Unit**
The art_unit variable indicates the group art unit to which the examiner issuing the Office action belongs.
Group art units are designated as four digit numbers. The first two digits indicate the technology center (TC) to which the group art unit is assigned. The designations for the TCs have changed over the years, but currently there are eight TCs for examining regular utility applications.
- 1600 – Biotechnology
- 1700 – Chemical and Materials Engineering
- 2100 – Computer Architecture, Software, and Information Security
- 2400 – Computer Networks, Multiplex Communication, Video Distribution and Security
- 2600 – Communications
- 2800 – Semiconductors, Electrical and Optical Systems and Components
- 3600 – Transportation, Construction, Electronic Commerce, Agriculture, National Security and
License & Review
- 3700 – Mechanical Engineering, Manufacturing, Products

**Application Number** (not the publication number or granted patent number)

Each application received by the USPTO is given a unique application number (app_id). The number is
eight digits long and used to keep track of the application while it is being processed and examined. The application number is comprised of two parts. For all applications that were not filed under the Patent Cooperation Treaty (PCT), the first two digits indicate the application’s series number. For the most part, the series number gives a rough indication of the order in which applications were received by the USPTO. This release includes Office actions issued for applications in series 12, 13, 14, and 15.

# Table Variables

## office_actions.csv table variables

![image](images/office_actions.csv_variables.png)

## Rejections.csv table variables

![image](images/rejections.csv_variables.png)

In [99]:
import pandas as pd
import numpy as np
import scipy.stats as scs
import statsmodels.api as sm
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format='retina'

In [100]:
#putll in csv and convert date time column 'mail_dt'
df_oa=pd.read_csv('data/art_unit_alice/office_actions.csv', index_col=None, parse_dates=['mail_dt'])
df_oa.columns
print(df_oa.columns)
print(df_oa.info())
print(df_oa.describe(include='all'))
df_oa.head(5).T

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['app_id', 'ifw_number', 'document_cd', 'mail_dt', 'art_unit',
       'uspc_class', 'uspc_subclass', 'header_missing', 'fp_missing',
       'rejection_fp_mismatch', 'closing_missing', 'rejection_101',
       'rejection_102', 'rejection_103', 'rejection_112', 'rejection_dp',
       'objection', 'allowed_claims', 'cite102_gt1', 'cite103_gt3',
       'cite103_eq1', 'cite103_max', 'signature_type'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4384532 entries, 0 to 4384531
Data columns (total 23 columns):
app_id                   int64
ifw_number               object
document_cd              object
mail_dt                  datetime64[ns]
art_unit                 object
uspc_class               object
uspc_subclass            object
header_missing           int64
fp_missing               int64
rejection_fp_mismatch    int64
closing_missing          int64
rejection_101            int64
rejection_102            int64
rejection_103            int64
rejection_112            int64
rejection_dp             int64
objection                int64
allowed_claims           int64
cite102_gt1              int64
cite103_gt3              int64
cite103_eq1              int64
cite103_max              int64
signature_type           int64
dtypes: datetime64[ns](1), int64(17), object(5)
memory usage: 769.4+ MB
None
              app_id       ifw_number document_cd              mail_dt  \
count   4.384532e+06          4384532     4384532              4384532
unique           NaN          4384532           2                 2303
top              NaN  I9MPT9J6PXXIFW4        CTNF  2015-11-05 00:00:00
freq             NaN                1     2961350                 9213
first            NaN              NaN         NaN  2001-01-01 00:00:00
last             NaN              NaN         NaN  2017-07-11 00:00:00
mean    1.337733e+07              NaN         NaN                  NaN
std     8.216659e+05              NaN         NaN                  NaN
min     1.200000e+07              NaN         NaN                  NaN
25%     1.265120e+07              NaN         NaN                  NaN
50%     1.337679e+07              NaN         NaN                  NaN
75%     1.402600e+07              NaN         NaN                  NaN
max     1.537827e+07              NaN         NaN                  NaN

       art_unit uspc_class uspc_subclass  header_missing    fp_missing  \
count   4384532    4384532       4384532    4.384532e+06  4.384532e+06
unique     1215        836         13794             NaN           NaN
top        2872        705        001000             NaN           NaN
freq      26530     162454         33732             NaN           NaN
first       NaN        NaN           NaN             NaN           NaN
last        NaN        NaN           NaN             NaN           NaN
mean        NaN        NaN           NaN    7.070515e-02  1.054509e-01
std         NaN        NaN           NaN    2.563317e-01  3.071336e-01
min         NaN        NaN           NaN    0.000000e+00  0.000000e+00
25%         NaN        NaN           NaN    0.000000e+00  0.000000e+00
50%         NaN        NaN           NaN    0.000000e+00  0.000000e+00
75%         NaN        NaN           NaN    0.000000e+00  0.000000e+00
max         NaN        NaN           NaN    1.000000e+00  1.000000e+00

        rejection_fp_mismatch       ...        rejection_103  rejection_112  \
count            4.384532e+06       ...         4.384532e+06   4.384532e+06
unique                    NaN       ...                  NaN            NaN
top                       NaN       ...                  NaN            NaN
freq                      NaN       ...                  NaN            NaN
first                     NaN       ...                  NaN            NaN
last                      NaN       ...                  NaN            NaN
mean             4.802519e-02       ...         7.917242e-01   3.484178e-01
std              2.138195e-01       ...         4.060752e-01   4.764692e-01
min              0.000000e+00       ...         0.000000e+00   0.000000e+00
25%              0.000000e+00       ...         1.000000e+00   0.000000e+00
50%              0.000000e+00       ...         1.000000e+00   0.000000e+00
75%              0.000000e+00       ...         1.000000e+00   1.000000e+00
max              1.000000e+00       ...         1.000000e+00   1.000000e+00

        rejection_dp     objection  allowed_claims   cite102_gt1  \
count   4.384532e+06  4.384532e+06    4.384532e+06  4.384532e+06
unique           NaN           NaN             NaN           NaN
top              NaN           NaN             NaN           NaN
freq             NaN           NaN             NaN           NaN
first            NaN           NaN             NaN           NaN
last             NaN           NaN             NaN           NaN
mean    1.071350e-01  2.686175e-01    7.153808e-02  9.610307e-02
std     3.092849e-01  4.432405e-01    2.577216e-01  2.947326e-01
min     0.000000e+00  0.000000e+00    0.000000e+00  0.000000e+00
25%     0.000000e+00  0.000000e+00    0.000000e+00  0.000000e+00
50%     0.000000e+00  0.000000e+00    0.000000e+00  0.000000e+00
75%     0.000000e+00  1.000000e+00    0.000000e+00  0.000000e+00
max     1.000000e+00  1.000000e+00    1.000000e+00  1.000000e+00

         cite103_gt3   cite103_eq1   cite103_max  signature_type
count   4.384532e+06  4.384532e+06  4.384532e+06    4.384532e+06
unique           NaN           NaN           NaN             NaN
top              NaN           NaN           NaN             NaN
freq             NaN           NaN           NaN             NaN
first            NaN           NaN           NaN             NaN
last             NaN           NaN           NaN             NaN
mean    2.010080e-01  1.566847e-01  2.328184e+00    1.481812e+00
std     4.007541e-01  3.635033e-01  1.756746e+00    1.027102e+00
min     0.000000e+00  0.000000e+00  0.000000e+00    0.000000e+00
25%     0.000000e+00  0.000000e+00  1.000000e+00    1.000000e+00
50%     0.000000e+00  0.000000e+00  2.000000e+00    1.000000e+00
75%     0.000000e+00  0.000000e+00  3.000000e+00    2.000000e+00
max     1.000000e+00  1.000000e+00  6.000000e+01    4.000000e+00

[13 rows x 23 columns]

,0,1,2,3,4
app_id,14150981,14198961,13796589,14673475,14669113
ifw_number,100867762,100867788,100867794,100867844,100867850
document_cd,CTFR,CTFR,CTNF,CTNF,CTNF
mail_dt,2015-10-15 00:00:00,2015-10-15 00:00:00,2015-10-15 00:00:00,2015-10-15 00:00:00,2015-10-15 00:00:00
art_unit,2632,2699,3776,2627,2666
uspc_class,375,345,606,345,382
uspc_subclass,219000,173000,159000,175000,118000
header_missing,0,0,0,0,0
fp_missing,0,0,0,0,0
rejection_fp_mismatch,0,0,0,0,0
closing_missing,0,0,0,0,0
rejection_101,0,0,0,0,1
rejection_102,0,1,0,1,0
rejection_103,1,1,1,1,0
rejection_112,0,0,0,1,1
rejection_dp,0,0,0,1,1
objection,0,0,0,0,0
allowed_claims,0,0,0,0,0
cite102_gt1,0,0,0,0,0
cite103_gt3,0,0,0,1,0
cite103_eq1,1,0,0,0,0
cite103_max,2,2,3,4,0
signature_type,1,1,3,1,1

In [101]:
df_oa = df_oa.drop(['header_missing', 'fp_missing','rejection_fp_mismatch', 'closing_missing', 'rejection_101','rejection_102', 'rejection_103', 'rejection_112', 'rejection_dp','objection', 'allowed_claims', 'cite102_gt1', 'cite103_gt3','cite103_eq1', 'cite103_max', 'signature_type'], axis=1)

In [102]:
df_oa.columns

Index(['app_id', 'ifw_number', 'document_cd', 'mail_dt', 'art_unit',
       'uspc_class', 'uspc_subclass'],
      dtype='object')

In [103]:
df_oa.head(2).T

                                 0                    1
app_id                    14150981             14198961
ifw_number               100867762            100867788
document_cd                   CTFR                 CTFR
mail_dt        2015-10-15 00:00:00  2015-10-15 00:00:00
art_unit                      2632                 2699
uspc_class                     375                  345
uspc_subclass               219000               173000

## Reduce data set down to applications with a mail_dt after 2015-01-01 00:00:00 
### df_oa_2015_start
Alice was in 2014. I will get alice rejections and I will limit the data set just to look small time period to see differences in the alice rejection rates between 705 and 706.

In [112]:
#df_oa_2015_start = df_oa[df_oa['mail_dt'] >= 2015-01-01 00:00:00]
df_oa_2015_start = df_oa[(df_oa['mail_dt'] > '2014-12-31')]

In [113]:
df_oa_2015_start.head(2).T

                                 0                    1
app_id                    14150981             14198961
ifw_number               100867762            100867788
document_cd                   CTFR                 CTFR
mail_dt        2015-10-15 00:00:00  2015-10-15 00:00:00
art_unit                      2632                 2699
uspc_class                     375                  345
uspc_subclass               219000               173000

In [115]:
df_oa_2015_start.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1778669 entries, 0 to 4384531
Data columns (total 7 columns):
app_id           int64
ifw_number       object
document_cd      object
mail_dt          datetime64[ns]
art_unit         object
uspc_class       object
uspc_subclass    object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 108.6+ MB

In [116]:
df_oa_2015_start['app_id'].value_counts(dropna=False)

13891313    10
13992792    10
13933434    10
14514959     9
13901893     9
13935725     9
13482808     9
13439512     9
14218109     9
13151613     9
13449546     9
13816593     9
13352628     9
13507620     9
13721432     9
14586729     9
14068815     9
13512800     9
14052577     9
14505595     9
13333533     9
13531068     9
14188940     9
13723897     9
13691406     9
13847147     9
14241955     9
13865460     9
13481788     9
13951150     9
            ..
13794265     1
13790171     1
13779934     1
13876193     1
14295118     1
13861862     1
14299212     1
13888491     1
13884397     1
13878254     1
14286922     1
13843441     1
14291016     1
14311494     1
13855739     1
13847551     1
13405191     1
13425677     1
14309441     1
14262334     1
13390876     1
13480992     1
13476898     1
13493290     1
13495339     1
14266428     1
13446195     1
14256187     1
13460538     1
14907728     1
Name: app_id, Length: 978691, dtype: int64

## Load rejections csv and delete some columns
This csv has information on if the rejection for an application was a alice rejection.

In [117]:
df_rej=pd.read_csv('data/art_unit_alice/rejections.csv', index_col=None)

df_rej.columns

Index(['app_id', 'ifw_number', 'action_type', 'action_subtype',
       'claim_numbers', 'alice_in', 'bilski_in', 'mayo_in', 'myriad_in'],
      dtype='object')

In [118]:
df_rej = df_rej.drop(['action_type', 'action_subtype','claim_numbers','bilski_in', 'mayo_in','myriad_in'], axis=1)
df_rej.columns

Index(['app_id', 'ifw_number', 'alice_in'], dtype='object')

In [119]:
df_rej.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10133179 entries, 0 to 10133178
Data columns (total 3 columns):
app_id        int64
ifw_number    object
alice_in      int64
dtypes: int64(2), object(1)
memory usage: 231.9+ MB

## Merge data frames on ifw_number in both datasets but join left on the 2015 + data
# create merge_result dataframe
keeping all rows from the df_oa_2015 because it has all types of rejections and objections which gives me an indication of the overall number of applications for the art units / classes. This is based on my domain knowledge that almost all applications get an objection or rejection in the first attempt. It is a mythical creature that is granted a patent without any objections or rejecions.

In [120]:
merge_result = df_oa_2015_start.merge(df_rej, how='left', on='ifw_number')

In [121]:
merge_result.head()

,app_id_x,ifw_number,document_cd,mail_dt,art_unit,uspc_class,uspc_subclass,app_id_y,alice_in
0,14150981,100867762,CTFR,2015-10-15,2632,375,219000,NaN,NaN
1,14198961,100867788,CTFR,2015-10-15,2699,345,173000,NaN,NaN
2,13796589,100867794,CTNF,2015-10-15,3776,606,159000,NaN,NaN
3,14673475,100867844,CTNF,2015-10-15,2627,345,175000,NaN,NaN
4,14669113,100867850,CTNF,2015-10-15,2666,382,118000,NaN,NaN

## replace NaN values

In [123]:
merge_result['alice_in'].fillna(0, inplace=True)

In [124]:
merge_result.head()

,app_id_x,ifw_number,document_cd,mail_dt,art_unit,uspc_class,uspc_subclass,app_id_y,alice_in
0,14150981,100867762,CTFR,2015-10-15,2632,375,219000,NaN,0.0
1,14198961,100867788,CTFR,2015-10-15,2699,345,173000,NaN,0.0
2,13796589,100867794,CTNF,2015-10-15,3776,606,159000,NaN,0.0
3,14673475,100867844,CTNF,2015-10-15,2627,345,175000,NaN,0.0
4,14669113,100867850,CTNF,2015-10-15,2666,382,118000,NaN,0.0

In [126]:
len(merge_result['app_id_x'])

4058064

In [127]:
len(merge_result['app_id_x'].unique())

978691

In [128]:
duplicates_in_merged = merge_result[merge_result.duplicated(keep=False)]

In [130]:
duplicates_in_merged[duplicates_in_merged['alice_in']==1]

,app_id_x,ifw_number,document_cd,mail_dt,art_unit,uspc_class,uspc_subclass,app_id_y,alice_in
2531278,14166078,INT4KSCBRXEAPX1,CTNF,2016-05-05,2438,726,007000,14166078.0,1.0
2531279,14166078,INT4KSCBRXEAPX1,CTNF,2016-05-05,2438,726,007000,14166078.0,1.0
2775314,15137271,IPTQCNXPRXEAPX2,CTNF,2016-06-28,2438,713,150000,15137271.0,1.0
2775315,15137271,IPTQCNXPRXEAPX2,CTNF,2016-06-28,2438,713,150000,15137271.0,1.0
2847728,15141121,IQE1EHVMRXEAPX0,CTNF,2016-07-12,2438,726,027000,15141121.0,1.0
2847729,15141121,IQE1EHVMRXEAPX0,CTNF,2016-07-12,2438,726,027000,15141121.0,1.0
2850496,15084379,IQI3C7YZRXEAPX4,CTNF,2016-07-13,2438,726,022000,15084379.0,1.0
2850497,15084379,IQI3C7YZRXEAPX4,CTNF,2016-07-13,2438,726,022000,15084379.0,1.0

In [131]:
duplicates_in_merged[duplicates_in_merged['alice_in']==0]

,app_id_x,ifw_number,document_cd,mail_dt,art_unit,uspc_class,uspc_subclass,app_id_y,alice_in
65520,14157560,102245816,CTFR,2015-11-25,3693,705,044000,14157560.0,0.0
65521,14157560,102245816,CTFR,2015-11-25,3693,705,044000,14157560.0,0.0
65522,14295616,102245848,CTNF,2015-11-25,3728,206,541000,14295616.0,0.0
65523,14295616,102245848,CTNF,2015-11-25,3728,206,541000,14295616.0,0.0
65524,14295616,102245848,CTNF,2015-11-25,3728,206,541000,14295616.0,0.0
65525,14295616,102245848,CTNF,2015-11-25,3728,206,541000,14295616.0,0.0
65527,14215852,102245861,CTNF,2015-11-25,1624,435,006000,14215852.0,0.0
65528,14215852,102245861,CTNF,2015-11-25,1624,435,006000,14215852.0,0.0
65529,14215852,102245861,CTNF,2015-11-25,1624,435,006000,14215852.0,0.0
65530,14215852,102245861,CTNF,2015-11-25,1624,435,006000,14215852.0,0.0
65532,13917841,102245878,CTNF,2015-11-25,1756,204,157150,13917841.0,0.0
65533,13917841,102245878,CTNF,2015-11-25,1756,204,157150,13917841.0,0.0
65534,13826332,102245880,CTNF,2015-11-25,1774,494,020000,13826332.0,0.0
65535,13826332,102245880,CTNF,2015-11-25,1774,494,020000,13826332.0,0.0
65536,13826332,102245880,CTNF,2015-11-25,1774,494,020000,13826332.0,0.0
65538,14362257,102245884,CTNF,2015-11-25,2878,250,216000,14362257.0,0.0
65539,14362257,102245884,CTNF,2015-11-25,2878,250,216000,14362257.0,0.0
65540,13946557,102245888,CTNF,2015-11-23,3782,224,403000,13946557.0,0.0
65541,13946557,102245888,CTNF,2015-11-23,3782,224,403000,13946557.0,0.0
65543,14106227,102245900,CTNF,2015-11-25,2871,349,141000,14106227.0,0.0
65544,14106227,102245900,CTNF,2015-11-25,2871,349,141000,14106227.0,0.0
65546,14040190,102245915,CTNF,2015-11-25,2448,709,219000,14040190.0,0.0
65547,14040190,102245915,CTNF,2015-11-25,2448,709,219000,14040190.0,0.0
65548,14040190,102245915,CTNF,2015-11-25,2448,709,219000,14040190.0,0.0
65549,13572445,102245920,CTNF,2015-11-25,2612,345,672000,13572445.0,0.0
65550,13572445,102245920,CTNF,2015-11-25,2612,345,672000,13572445.0,0.0
65551,13572445,102245920,CTNF,2015-11-25,2612,345,672000,13572445.0,0.0
65553,14622414,102245931,CTFR,2015-11-25,2853,347,247000,14622414.0,0.0
65554,14622414,102245931,CTFR,2015-11-25,2853,347,247000,14622414.0,0.0
65555,13163437,102245932,CTFR,2015-11-23,2875,362,249020,13163437.0,0.0
...,...,...,...,...,...,...,...,...,...
4058030,15121801,J4UV9RRMRXEAPX4,CTNF,2017-07-06,1645,435,007400,15121801.0,0.0
4058031,15121801,J4UV9RRMRXEAPX4,CTNF,2017-07-06,1645,435,007400,15121801.0,0.0
4058032,15121801,J4UV9RRMRXEAPX4,CTNF,2017-07-06,1645,435,007400,15121801.0,0.0
4058033,15121801,J4UV9RRMRXEAPX4,CTNF,2017-07-06,1645,435,007400,15121801.0,0.0
4058034,14675903,J4UVA4O7RXEAPX1,CTNF,2017-07-06,3746,417,312000,14675903.0,0.0
4058035,14675903,J4UVA4O7RXEAPX1,CTNF,2017-07-06,3746,417,312000,14675903.0,0.0
4058036,14675903,J4UVA4O7RXEAPX1,CTNF,2017-07-06,3746,417,312000,14675903.0,0.0
4058037,14675903,J4UVA4O7RXEAPX1,CTNF,2017-07-06,3746,417,312000,14675903.0,0.0
4058039,14755371,J4UVADGZRXEAPX1,CTNF,2017-07-06,1768,524,091000,14755371.0,0.0
4058040,14755371,J4UVADGZRXEAPX1,CTNF,2017-07-06,1768,524,091000,14755371.0,0.0
4058041,15176514,J4UVAJSYRXEAPX1,CTNF,2017-07-06,2623,345,174000,15176514.0,0.0
4058042,15176514,J4UVAJSYRXEAPX1,CTNF,2017-07-06,2623,345,174000,15176514.0,0.0
4058043,15176514,J4UVAJSYRXEAPX1,CTNF,2017-07-06,2623,345,174000,15176514.0,0.0
4058044,15176514,J4UVAJSYRXEAPX1,CTNF,2017-07-06,2623,345,174000,15176514.0,0.0
4058045,15176514,J4UVAJSYRXEAPX1,CTNF,2017-07-06,2623,345,174000,15176514.0,0.0
4058046,14382872,J4UVASFRRXEAPX0,CTNF,2017-07-06,0,600,431000,14382872.0,0.0
4058047,14382872,J4UVASFRRXEAPX0,CTNF,2017-07-06,0,600,431000,14382872.0,0.0
4058048,14382872,J4UVASFRRXEAPX0,CTNF,2017-07-06,0,600,431000,14382872.0,0.0
4058049,14382872,J4UVASFRRXEAPX0,CTNF,2017-07-06,0,600,431000,14382872.0,0.0
4058050,14382872,J4UVASFRRXEAPX0,CTNF,2017-07-06,0,600,431000,14382872.0,0.0
4058051,14741595,J4UVAW93RXEAPX0,CTNF,2017-07-06,2694,345,156000,14741595.0,0.0
4058052,14741595,J4UVAW93RXEAPX0,CTNF,2017-07-06,2694,345,156000,14741595.0,0.0
4058053,14741595,J4UVAW93RXEAPX0,CTNF,2017-07-06,2694,345,156000,14741595.0,0.0
4058054,14741595,J4UVAW93RXEAPX0,CTNF,2017-07-06,2694,345,156000,14741595.0,0.0
4058055,14174317,J4UVAYW1RXEAPX3,CTFR,2017-07-06,1617,424,401000,14174317.0,0.0
4058056,14174317,J4UVAYW1RXEAPX3,CTFR,2017-07-06,1617,424,401000,14174317.0,0.0
4058059,14845361,J4UVC8SERXEAPX1,CTFR,2017-07-06,1621,514,183000,14845361.0,0.0
4058060,14845361,J4UVC8SERXEAPX1,CTFR,2017-07-06,1621,514,183000,14845361.0,0.0
4058061,14326716,J4UVCT37RXEAPX4,CTFR,2017-07-06,0,719,313000,14326716.0,0.0
4058062,14326716,J4UVCT37RXEAPX4,CTFR,2017-07-06,0,719,313000,14326716.0,0.0

## drop duplicates
Patent applications will typically have more than one rejection. I just want to know if the application received an alice rejection. So I don't need to know any other rejections or how many times it had a rejction. But these duplicates look like duplicates of even the ifw_number which is the single office action/rejection. 

There are 4.4 million observations in this data file, with each observation representing a unique Office action (as identified by the **ifw_number field**). ([data dictionary, pg. 10](https://bulkdata.uspto.gov/data/patent/office/actions/bigdata/2017/USPTO%20Patent%20Prosecution%20Research%20Data_Unlocking%20Office%20Action%20Traits.pdf))

In [132]:
len(merge_result)

4058064

In [133]:
merge_result.drop_duplicates(subset='ifw_number', keep='first', inplace=True)

In [134]:
len(merge_result)

1778669

## export to small csv for use in different notebook

In [135]:
merge_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1778669 entries, 0 to 4058063
Data columns (total 9 columns):
app_id_x         int64
ifw_number       object
document_cd      object
mail_dt          datetime64[ns]
art_unit         object
uspc_class       object
uspc_subclass    object
app_id_y         float64
alice_in         float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 135.7+ MB

In [136]:
merge_result.to_csv('data/art_unit_alice/rejection_types_with_alice_2015_to_2017-07-11.csv')